extends ../layout/base

append main
    .page-header
        h2 Document

    .embed-responsive.document
        iframe.embed-responsive-item(src="http://mozilla.github.io/pdf.js/web/viewer.html?file=#{document}")
