extends ../layout/base

append main
    .jumbotron
        .container
            h1=title
            p=description
    
    .jumbotron
        +carousel("home-carousel",carousel)
    
    .jumbotron
        .container
            h4 Some useful links:
            ul
                li
                    a(href='http://www.au.tsinghua.edu.cn/') Department of Automation of Tsinghua University
                li
                    a(href='http://www.robocup.org/') RoboCup
                li
                    a(href='http://www.robocupathome.org/') RoboCup@home
